.filters {
  background-color: #293a4c;
  color: #8393a3;
}

.filter {
  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: inherit;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0.6rem 0;
      font-size: 1.1rem;
      font-weight: 500;
      letter-spacing: 0.3px;
    }
    &--active {
      &:link,
      &:visited {
        color: #5eb5f7;
        background-color: #17212b;
      }
    }

    &--small {
      &:link,
      &:visited {
        padding: 1.5rem 0 1.2rem 0;
      }
      .filter__icon {
        width: 2rem;
        height: 2rem;
        margin-bottom: 1rem;
      }
    }
  }

  &__icon {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    margin-bottom: 5px;
  }
}
